@font-face {font-family: 'Redressed';src: url(../assets/font/Redressed-Regular.ttf);}
@font-face {font-family: 'Montserrat';src: url(../assets/font/Montserrat-VariableFont_wght.ttf);}
@font-face {font-family: 'anta';src: url(../assets/font/Anta-Regular.ttf);}
@font-face {font-family: 'Prompt';src: url(../assets/font/Prompt-Black.ttf);}
@font-face {font-family: 'roboto';src: url(../assets/font/Montserrat-VariableFont_wght.ttf);}
@font-face {font-family: 'acme';src: url(../assets/font/Acme-Regular.ttf);}
@font-face {font-family: 'after';src: url(../assets/font/aftersick.otf);}
@font-face {font-family: 'Aclonica';src: url(../assets/font/Aclonica-Regular.ttf);}
@font-face {font-family: 'Alston';src: url(../assets/font/Alston.otf);}
@font-face {font-family: 'Greathy';src: url(../assets/font/Greathy\ Regular.ttf);}
@font-face {font-family: 'Mushroom';src: url(../assets/font/Mushroom.ttf);}
@font-face {font-family: 'Euphoria';src: url(../assets/font/Euphoria.ttf);}
body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
    height: 100vh;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-image: url(../assets/image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    margin: 15px;
}
.logobox{
    position: fixed;
    top: 0;
    left: 50%;  
    transform: translateX(-50%);
}
.leftbox{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rightbox{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
h3{
    position: fixed;
    top: -20px;
    left: 50%;  
    transform: translateX(-50%);
    color: #F0F0F0; 
    font-family: Redressed;
    font-size: 30px;
}
.menu_items{
    display: flex;
    gap: 50px;
    position: fixed;
    top: 40px;
    left: 50px;
}
.menu_items div a{
    color: #e5e4e2ad;
    text-decoration: none;
    font-family: roboto;
    font-size: 14px;
    transition: color 0.3s ease ;
}
.menu_items div a:hover {
    color: #d6ad60;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
    top: 40px;
    right: 100px;
}
.profileimg{
    height: 22px;
    width: auto;
    filter: invert(0.5);
}
.pht{
    position: fixed;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    height: 450px;
    width: 337px;
    border-radius: 5px;
    background-image: url(../assets/image/saran.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}
.pht:hover{
    background-image: url(../assets/image/saran1.jpeg);
}
.tag{
    position: fixed;
    top: 120px;
    left: 75px;
    width: calc(700px - 5%);
    color: #F0F0F0;
    font-size: 2.5em;
    font-family: Montserrat;
    font-weight: 600;
}
.line{
    position: fixed;
    top: 250px;
    left: 75px;
    width: calc(800px - 5%);
    color: #F0F0F0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 22px;
    font-family: Montserrat;
    font-weight: 400;
}
.end{
    color: #c0c0c0a2;
    position: fixed;
    font-size: x-small;
    bottom: 20px;
    left: 50px;
}
