@font-face {font-family: 'Redressed';src: url(../assets/font/Redressed-Regular.ttf);}
@font-face {font-family: 'Montserrat';src: url(../assets/font/Montserrat-VariableFont_wght.ttf);}
@font-face {font-family: 'After';src: url(../assets/font/aftersick.otf);}
@font-face {font-family: 'Prompt';src: url(../assets/font/Prompt-Black.ttf);}
body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
    height: 100vh;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-image: url(../assets/image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    margin: 15px;
}

.logobox{
    position: fixed;
    top: 0;
    left: 50%;  
    transform: translateX(-50%);
}
.leftbox{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rightbox{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
h3{
    position: fixed;
    top: -20px;
    left: 50%;  
    transform: translateX(-50%);
    color: #d6ad60;
    font-family: Redressed;
    font-size: 30px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #DCE4C9;
    font-size: 5em;
    letter-spacing: 2px;
    font-family: After;
    font-weight: normal;
    position: relative;
    top: -30px;
    padding: 15px;
}
h2{
    color: #F5F5DC;
    font-size: 2.0em;
    letter-spacing: 2px;
    font-family: Redressed;
    font-weight: normal;
    position: relative;
    top: -135px;
    letter-spacing: 1px;
    padding: 15px;
}
.work_resume{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 30px;
    position: fixed;
    top: calc(50% + 15px);
    transform: translateY(-50%);
}
.work_resume a{
    text-decoration: none;
    color: #f2f2f2;
}
.work_button{
    height: 36px;
    width: 90px;
    background-color: #000;
    border:1px solid #000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.work_button:hover {
    transform: scale(0.95);
}
.resume_button{
    height: 36px;
    width: 90px;
    color: #000;
    background-color: #f2f2f2;
    border:1px solid #000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease,transform 0.3s ease;
}
.resume_button:hover{
    transform: scale(0.95);
}